<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>Algerien.01</key>
	<string>A_lgerien.01.glif</string>
	<key>Algerien.02</key>
	<string>A_lgerien.02.glif</string>
	<key>Algerien.04</key>
	<string>A_lgerien.04.glif</string>
	<key>Algerien.05</key>
	<string>A_lgerien.05.glif</string>
	<key>Algerien.06</key>
	<string>A_lgerien.06.glif</string>
	<key>Argentinien.01</key>
	<string>A_rgentinien.01.glif</string>
	<key>Argentinien.02</key>
	<string>A_rgentinien.02.glif</string>
	<key>Argentinien.03</key>
	<string>A_rgentinien.03.glif</string>
	<key>Argentinien.04</key>
	<string>A_rgentinien.04.glif</string>
	<key>Australien.01</key>
	<string>A_ustralien.01.glif</string>
	<key>Australien.02</key>
	<string>A_ustralien.02.glif</string>
	<key>Australien.03</key>
	<string>A_ustralien.03.glif</string>
	<key>Australien.04</key>
	<string>A_ustralien.04.glif</string>
	<key>Australien.05</key>
	<string>A_ustralien.05.glif</string>
	<key>Australien.06</key>
	<string>A_ustralien.06.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Belgien.01</key>
	<string>B_elgien.01.glif</string>
	<key>Belgien.02</key>
	<string>B_elgien.02.glif</string>
	<key>Belgien.03</key>
	<string>B_elgien.03.glif</string>
	<key>Bosnien.01</key>
	<string>B_osnien.01.glif</string>
	<key>Bosnien.02</key>
	<string>B_osnien.02.glif</string>
	<key>Bosnien.03</key>
	<string>B_osnien.03.glif</string>
	<key>Bosnien.04</key>
	<string>B_osnien.04.glif</string>
	<key>Bosnien.05</key>
	<string>B_osnien.05.glif</string>
	<key>Bosnien.06</key>
	<string>B_osnien.06.glif</string>
	<key>Brasilien.01</key>
	<string>B_rasilien.01.glif</string>
	<key>Brasilien.02</key>
	<string>B_rasilien.02.glif</string>
	<key>Brasilien.03</key>
	<string>B_rasilien.03.glif</string>
	<key>Brasilien.04</key>
	<string>B_rasilien.04.glif</string>
	<key>Brasilien.05</key>
	<string>B_rasilien.05.glif</string>
	<key>Brasilien.06</key>
	<string>B_rasilien.06.glif</string>
	<key>Brasilien.07</key>
	<string>B_rasilien.07.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Chile.01</key>
	<string>C_hile.01.glif</string>
	<key>Chile.02</key>
	<string>C_hile.02.glif</string>
	<key>Chile.03</key>
	<string>C_hile.03.glif</string>
	<key>Chile.04</key>
	<string>C_hile.04.glif</string>
	<key>CostaRica.01</key>
	<string>C_ostaR_ica.01.glif</string>
	<key>CostaRica.02</key>
	<string>C_ostaR_ica.02.glif</string>
	<key>CostaRica.03</key>
	<string>C_ostaR_ica.03.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Deutschland.01</key>
	<string>D_eutschland.01.glif</string>
	<key>Deutschland.02</key>
	<string>D_eutschland.02.glif</string>
	<key>Deutschland.03</key>
	<string>D_eutschland.03.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Ecuador.01</key>
	<string>E_cuador.01.glif</string>
	<key>Ecuador.02</key>
	<string>E_cuador.02.glif</string>
	<key>Ecuador.03</key>
	<string>E_cuador.03.glif</string>
	<key>Ecuador.04</key>
	<string>E_cuador.04.glif</string>
	<key>Ecuador.05</key>
	<string>E_cuador.05.glif</string>
	<key>Ecuador.06</key>
	<string>E_cuador.06.glif</string>
	<key>Ecuador.07</key>
	<string>E_cuador.07.glif</string>
	<key>Ecuador.08</key>
	<string>E_cuador.08.glif</string>
	<key>Ecuador.09</key>
	<string>E_cuador.09.glif</string>
	<key>Ecuador.10</key>
	<string>E_cuador.10.glif</string>
	<key>Ecuador.11</key>
	<string>E_cuador.11.glif</string>
	<key>Elfenbeinkueste.01</key>
	<string>E_lfenbeinkueste.01.glif</string>
	<key>Elfenbeinkueste.02</key>
	<string>E_lfenbeinkueste.02.glif</string>
	<key>Elfenbeinkueste.03</key>
	<string>E_lfenbeinkueste.03.glif</string>
	<key>England.01</key>
	<string>E_ngland.01.glif</string>
	<key>England.02</key>
	<string>E_ngland.02.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>Frankreich.01</key>
	<string>F_rankreich.01.glif</string>
	<key>Ghana.01</key>
	<string>G_hana.01.glif</string>
	<key>Ghana.02</key>
	<string>G_hana.02.glif</string>
	<key>Ghana.03</key>
	<string>G_hana.03.glif</string>
	<key>Ghana.04</key>
	<string>G_hana.04.glif</string>
	<key>Ghana.05</key>
	<string>G_hana.05.glif</string>
	<key>Griechenland.01</key>
	<string>G_riechenland.01.glif</string>
	<key>Griechenland.02</key>
	<string>G_riechenland.02.glif</string>
	<key>Honduras.01</key>
	<string>H_onduras.01.glif</string>
	<key>Honduras.02</key>
	<string>H_onduras.02.glif</string>
	<key>Honduras.03</key>
	<string>H_onduras.03.glif</string>
	<key>Honduras.04</key>
	<string>H_onduras.04.glif</string>
	<key>Iran.01</key>
	<string>I_ran.01.glif</string>
	<key>Iran.02</key>
	<string>I_ran.02.glif</string>
	<key>Iran.03</key>
	<string>I_ran.03.glif</string>
	<key>Japan.01</key>
	<string>J_apan.01.glif</string>
	<key>Japan.02</key>
	<string>J_apan.02.glif</string>
	<key>Japan.03</key>
	<string>J_apan.03.glif</string>
	<key>Kamerun.01</key>
	<string>K_amerun.01.glif</string>
	<key>Kamerun.02</key>
	<string>K_amerun.02.glif</string>
	<key>Kamerun.03</key>
	<string>K_amerun.03.glif</string>
	<key>Kamerun.04</key>
	<string>K_amerun.04.glif</string>
	<key>Kamerun.05</key>
	<string>K_amerun.05.glif</string>
	<key>Kolumbien.01</key>
	<string>K_olumbien.01.glif</string>
	<key>Kroatien.01</key>
	<string>K_roatien.01.glif</string>
	<key>Kroatien.02</key>
	<string>K_roatien.02.glif</string>
	<key>Kroatien.03</key>
	<string>K_roatien.03.glif</string>
	<key>Kroatien.04</key>
	<string>K_roatien.04.glif</string>
	<key>Kroatien.05</key>
	<string>K_roatien.05.glif</string>
	<key>Kroatien.06</key>
	<string>K_roatien.06.glif</string>
	<key>Kroatien.07</key>
	<string>K_roatien.07.glif</string>
	<key>Kroatien.08</key>
	<string>K_roatien.08.glif</string>
	<key>Mexiko.01</key>
	<string>M_exiko.01.glif</string>
	<key>Mexiko.02</key>
	<string>M_exiko.02.glif</string>
	<key>Mexiko.03</key>
	<string>M_exiko.03.glif</string>
	<key>Mexiko.04</key>
	<string>M_exiko.04.glif</string>
	<key>Mexiko.05</key>
	<string>M_exiko.05.glif</string>
	<key>Mexiko.06</key>
	<string>M_exiko.06.glif</string>
	<key>Mexiko.07</key>
	<string>M_exiko.07.glif</string>
	<key>Mexiko.08</key>
	<string>M_exiko.08.glif</string>
	<key>Mexiko.09</key>
	<string>M_exiko.09.glif</string>
	<key>Mexiko.10</key>
	<string>M_exiko.10.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Nigeria.01</key>
	<string>N_igeria.01.glif</string>
	<key>Nigeria.02</key>
	<string>N_igeria.02.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Piraten.01</key>
	<string>P_iraten.01.glif</string>
	<key>Piraten.02</key>
	<string>P_iraten.02.glif</string>
	<key>Portugal.01</key>
	<string>P_ortugal.01.glif</string>
	<key>Portugal.02</key>
	<string>P_ortugal.02.glif</string>
	<key>Portugal.03</key>
	<string>P_ortugal.03.glif</string>
	<key>Portugal.04</key>
	<string>P_ortugal.04.glif</string>
	<key>Portugal.05</key>
	<string>P_ortugal.05.glif</string>
	<key>Portugal.06</key>
	<string>P_ortugal.06.glif</string>
	<key>Portugal.07</key>
	<string>P_ortugal.07.glif</string>
	<key>Rahmen1056</key>
	<string>R_ahmen1056.glif</string>
	<key>Rahmen1424</key>
	<string>R_ahmen1424.glif</string>
	<key>Rahmen1488</key>
	<string>R_ahmen1488.glif</string>
	<key>Rahmen1520</key>
	<string>R_ahmen1520.glif</string>
	<key>Rahmen1552</key>
	<string>R_ahmen1552.glif</string>
	<key>Rahmen1616</key>
	<string>R_ahmen1616.glif</string>
	<key>Rahmen1680</key>
	<string>R_ahmen1680.glif</string>
	<key>Rahmen1712</key>
	<string>R_ahmen1712.glif</string>
	<key>Rahmen1856</key>
	<string>R_ahmen1856.glif</string>
	<key>Rahmen1936</key>
	<string>R_ahmen1936.glif</string>
	<key>Rahmen1984</key>
	<string>R_ahmen1984.glif</string>
	<key>Schweiz.01</key>
	<string>S_chweiz.01.glif</string>
	<key>Schweiz.02</key>
	<string>S_chweiz.02.glif</string>
	<key>Spanien.01</key>
	<string>S_panien.01.glif</string>
	<key>Spanien.02</key>
	<string>S_panien.02.glif</string>
	<key>Spanien.03</key>
	<string>S_panien.03.glif</string>
	<key>Spanien.04</key>
	<string>S_panien.04.glif</string>
	<key>Spanien.05</key>
	<string>S_panien.05.glif</string>
	<key>Spanien.06</key>
	<string>S_panien.06.glif</string>
	<key>Spanien.07</key>
	<string>S_panien.07.glif</string>
	<key>Spanien.08</key>
	<string>S_panien.08.glif</string>
	<key>Spanien.09</key>
	<string>S_panien.09.glif</string>
	<key>Suedkorea.01</key>
	<string>S_uedkorea.01.glif</string>
	<key>Suedkorea.02</key>
	<string>S_uedkorea.02.glif</string>
	<key>Suedkorea.03</key>
	<string>S_uedkorea.03.glif</string>
	<key>Suedkorea.04</key>
	<string>S_uedkorea.04.glif</string>
	<key>Suedkorea.05</key>
	<string>S_uedkorea.05.glif</string>
	<key>Suedkorea.06</key>
	<string>S_uedkorea.06.glif</string>
	<key>Suedkorea.07</key>
	<string>S_uedkorea.07.glif</string>
	<key>Suedkorea.08</key>
	<string>S_uedkorea.08.glif</string>
	<key>USA.01</key>
	<string>U_S_A_.01.glif</string>
	<key>USA.02</key>
	<string>U_S_A_.02.glif</string>
	<key>USA.03</key>
	<string>U_S_A_.03.glif</string>
	<key>Uruguay.01</key>
	<string>U_ruguay.01.glif</string>
	<key>Uruguay.02</key>
	<string>U_ruguay.02.glif</string>
	<key>Uruguay.03</key>
	<string>U_ruguay.03.glif</string>
	<key>Uruguay.04</key>
	<string>U_ruguay.04.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
