<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>Algerien.01</key>
	<string>Algerien_.01.glif</string>
	<key>Algerien.02</key>
	<string>Algerien_.02.glif</string>
	<key>Algerien.04</key>
	<string>Algerien_.04.glif</string>
	<key>Algerien.05</key>
	<string>Algerien_.05.glif</string>
	<key>Algerien.06</key>
	<string>Algerien_.06.glif</string>
	<key>Argentinien.01</key>
	<string>Argentinien_.01.glif</string>
	<key>Argentinien.02</key>
	<string>Argentinien_.02.glif</string>
	<key>Argentinien.03</key>
	<string>Argentinien_.03.glif</string>
	<key>Argentinien.04</key>
	<string>Argentinien_.04.glif</string>
	<key>Australien.01</key>
	<string>Australien_.01.glif</string>
	<key>Australien.02</key>
	<string>Australien_.02.glif</string>
	<key>Australien.03</key>
	<string>Australien_.03.glif</string>
	<key>Australien.04</key>
	<string>Australien_.04.glif</string>
	<key>Australien.05</key>
	<string>Australien_.05.glif</string>
	<key>Australien.06</key>
	<string>Australien_.06.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>Belgien.01</key>
	<string>Belgien_.01.glif</string>
	<key>Belgien.02</key>
	<string>Belgien_.02.glif</string>
	<key>Belgien.03</key>
	<string>Belgien_.03.glif</string>
	<key>Bosnien.01</key>
	<string>Bosnien_.01.glif</string>
	<key>Bosnien.02</key>
	<string>Bosnien_.02.glif</string>
	<key>Bosnien.03</key>
	<string>Bosnien_.03.glif</string>
	<key>Bosnien.04</key>
	<string>Bosnien_.04.glif</string>
	<key>Bosnien.05</key>
	<string>Bosnien_.05.glif</string>
	<key>Bosnien.06</key>
	<string>Bosnien_.06.glif</string>
	<key>Brasilien.01</key>
	<string>Brasilien_.01.glif</string>
	<key>Brasilien.02</key>
	<string>Brasilien_.02.glif</string>
	<key>Brasilien.03</key>
	<string>Brasilien_.03.glif</string>
	<key>Brasilien.04</key>
	<string>Brasilien_.04.glif</string>
	<key>Brasilien.05</key>
	<string>Brasilien_.05.glif</string>
	<key>Brasilien.06</key>
	<string>Brasilien_.06.glif</string>
	<key>Brasilien.07</key>
	<string>Brasilien_.07.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Chile.01</key>
	<string>Chile_.01.glif</string>
	<key>Chile.02</key>
	<string>Chile_.02.glif</string>
	<key>Chile.03</key>
	<string>Chile_.03.glif</string>
	<key>Chile.04</key>
	<string>Chile_.04.glif</string>
	<key>CostaRica.01</key>
	<string>CostaRica_.01.glif</string>
	<key>CostaRica.02</key>
	<string>CostaRica_.02.glif</string>
	<key>CostaRica.03</key>
	<string>CostaRica_.03.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Deutschland.01</key>
	<string>Deutschland_.01.glif</string>
	<key>Deutschland.02</key>
	<string>Deutschland_.02.glif</string>
	<key>Deutschland.03</key>
	<string>Deutschland_.03.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Ecuador.01</key>
	<string>Ecuador_.01.glif</string>
	<key>Ecuador.02</key>
	<string>Ecuador_.02.glif</string>
	<key>Ecuador.03</key>
	<string>Ecuador_.03.glif</string>
	<key>Ecuador.04</key>
	<string>Ecuador_.04.glif</string>
	<key>Ecuador.05</key>
	<string>Ecuador_.05.glif</string>
	<key>Ecuador.06</key>
	<string>Ecuador_.06.glif</string>
	<key>Ecuador.07</key>
	<string>Ecuador_.07.glif</string>
	<key>Ecuador.08</key>
	<string>Ecuador_.08.glif</string>
	<key>Ecuador.09</key>
	<string>Ecuador_.09.glif</string>
	<key>Ecuador.10</key>
	<string>Ecuador_.10.glif</string>
	<key>Ecuador.11</key>
	<string>Ecuador_.11.glif</string>
	<key>Elfenbeinkueste.01</key>
	<string>Elfenbeinkueste_.01.glif</string>
	<key>Elfenbeinkueste.02</key>
	<string>Elfenbeinkueste_.02.glif</string>
	<key>Elfenbeinkueste.03</key>
	<string>Elfenbeinkueste_.03.glif</string>
	<key>England.01</key>
	<string>England_.01.glif</string>
	<key>England.02</key>
	<string>England_.02.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>Frankreich.01</key>
	<string>Frankreich_.01.glif</string>
	<key>Ghana.01</key>
	<string>Ghana_.01.glif</string>
	<key>Ghana.02</key>
	<string>Ghana_.02.glif</string>
	<key>Ghana.03</key>
	<string>Ghana_.03.glif</string>
	<key>Ghana.04</key>
	<string>Ghana_.04.glif</string>
	<key>Ghana.05</key>
	<string>Ghana_.05.glif</string>
	<key>Griechenland.01</key>
	<string>Griechenland_.01.glif</string>
	<key>Griechenland.02</key>
	<string>Griechenland_.02.glif</string>
	<key>Honduras.01</key>
	<string>Honduras_.01.glif</string>
	<key>Honduras.02</key>
	<string>Honduras_.02.glif</string>
	<key>Honduras.03</key>
	<string>Honduras_.03.glif</string>
	<key>Honduras.04</key>
	<string>Honduras_.04.glif</string>
	<key>Iran.01</key>
	<string>Iran_.01.glif</string>
	<key>Iran.02</key>
	<string>Iran_.02.glif</string>
	<key>Iran.03</key>
	<string>Iran_.03.glif</string>
	<key>Japan.01</key>
	<string>Japan_.01.glif</string>
	<key>Japan.02</key>
	<string>Japan_.02.glif</string>
	<key>Japan.03</key>
	<string>Japan_.03.glif</string>
	<key>Kamerun.01</key>
	<string>Kamerun_.01.glif</string>
	<key>Kamerun.02</key>
	<string>Kamerun_.02.glif</string>
	<key>Kamerun.03</key>
	<string>Kamerun_.03.glif</string>
	<key>Kamerun.04</key>
	<string>Kamerun_.04.glif</string>
	<key>Kamerun.05</key>
	<string>Kamerun_.05.glif</string>
	<key>Kolumbien.01</key>
	<string>Kolumbien_.01.glif</string>
	<key>Kroatien.01</key>
	<string>Kroatien_.01.glif</string>
	<key>Kroatien.02</key>
	<string>Kroatien_.02.glif</string>
	<key>Kroatien.03</key>
	<string>Kroatien_.03.glif</string>
	<key>Kroatien.04</key>
	<string>Kroatien_.04.glif</string>
	<key>Kroatien.05</key>
	<string>Kroatien_.05.glif</string>
	<key>Kroatien.06</key>
	<string>Kroatien_.06.glif</string>
	<key>Kroatien.07</key>
	<string>Kroatien_.07.glif</string>
	<key>Kroatien.08</key>
	<string>Kroatien_.08.glif</string>
	<key>Mexiko.01</key>
	<string>Mexiko_.01.glif</string>
	<key>Mexiko.02</key>
	<string>Mexiko_.02.glif</string>
	<key>Mexiko.03</key>
	<string>Mexiko_.03.glif</string>
	<key>Mexiko.04</key>
	<string>Mexiko_.04.glif</string>
	<key>Mexiko.05</key>
	<string>Mexiko_.05.glif</string>
	<key>Mexiko.06</key>
	<string>Mexiko_.06.glif</string>
	<key>Mexiko.07</key>
	<string>Mexiko_.07.glif</string>
	<key>Mexiko.08</key>
	<string>Mexiko_.08.glif</string>
	<key>Mexiko.09</key>
	<string>Mexiko_.09.glif</string>
	<key>Mexiko.10</key>
	<string>Mexiko_.10.glif</string>
	<key>NULL</key>
	<string>NULL_.glif</string>
	<key>Nigeria.01</key>
	<string>Nigeria_.01.glif</string>
	<key>Nigeria.02</key>
	<string>Nigeria_.02.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Piraten.01</key>
	<string>Piraten_.01.glif</string>
	<key>Piraten.02</key>
	<string>Piraten_.02.glif</string>
	<key>Portugal.01</key>
	<string>Portugal_.01.glif</string>
	<key>Portugal.02</key>
	<string>Portugal_.02.glif</string>
	<key>Portugal.03</key>
	<string>Portugal_.03.glif</string>
	<key>Portugal.04</key>
	<string>Portugal_.04.glif</string>
	<key>Portugal.05</key>
	<string>Portugal_.05.glif</string>
	<key>Portugal.06</key>
	<string>Portugal_.06.glif</string>
	<key>Portugal.07</key>
	<string>Portugal_.07.glif</string>
	<key>Rahmen1056</key>
	<string>Rahmen1056_.glif</string>
	<key>Rahmen1424</key>
	<string>Rahmen1424_.glif</string>
	<key>Rahmen1488</key>
	<string>Rahmen1488_.glif</string>
	<key>Rahmen1520</key>
	<string>Rahmen1520_.glif</string>
	<key>Rahmen1552</key>
	<string>Rahmen1552_.glif</string>
	<key>Rahmen1616</key>
	<string>Rahmen1616_.glif</string>
	<key>Rahmen1680</key>
	<string>Rahmen1680_.glif</string>
	<key>Rahmen1712</key>
	<string>Rahmen1712_.glif</string>
	<key>Rahmen1856</key>
	<string>Rahmen1856_.glif</string>
	<key>Rahmen1936</key>
	<string>Rahmen1936_.glif</string>
	<key>Rahmen1984</key>
	<string>Rahmen1984_.glif</string>
	<key>Schweiz.01</key>
	<string>Schweiz_.01.glif</string>
	<key>Schweiz.02</key>
	<string>Schweiz_.02.glif</string>
	<key>Spanien.01</key>
	<string>Spanien_.01.glif</string>
	<key>Spanien.02</key>
	<string>Spanien_.02.glif</string>
	<key>Spanien.03</key>
	<string>Spanien_.03.glif</string>
	<key>Spanien.04</key>
	<string>Spanien_.04.glif</string>
	<key>Spanien.05</key>
	<string>Spanien_.05.glif</string>
	<key>Spanien.06</key>
	<string>Spanien_.06.glif</string>
	<key>Spanien.07</key>
	<string>Spanien_.07.glif</string>
	<key>Spanien.08</key>
	<string>Spanien_.08.glif</string>
	<key>Spanien.09</key>
	<string>Spanien_.09.glif</string>
	<key>Suedkorea.01</key>
	<string>Suedkorea_.01.glif</string>
	<key>Suedkorea.02</key>
	<string>Suedkorea_.02.glif</string>
	<key>Suedkorea.03</key>
	<string>Suedkorea_.03.glif</string>
	<key>Suedkorea.04</key>
	<string>Suedkorea_.04.glif</string>
	<key>Suedkorea.05</key>
	<string>Suedkorea_.05.glif</string>
	<key>Suedkorea.06</key>
	<string>Suedkorea_.06.glif</string>
	<key>Suedkorea.07</key>
	<string>Suedkorea_.07.glif</string>
	<key>Suedkorea.08</key>
	<string>Suedkorea_.08.glif</string>
	<key>USA.01</key>
	<string>USA_.01.glif</string>
	<key>USA.02</key>
	<string>USA_.02.glif</string>
	<key>USA.03</key>
	<string>USA_.03.glif</string>
	<key>Uruguay.01</key>
	<string>Uruguay_.01.glif</string>
	<key>Uruguay.02</key>
	<string>Uruguay_.02.glif</string>
	<key>Uruguay.03</key>
	<string>Uruguay_.03.glif</string>
	<key>Uruguay.04</key>
	<string>Uruguay_.04.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
