<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>6BC6EBAD-254B-4F2A-A3B7-423E3045276D</key>
		<dict>
		</dict>
	</dict>
	<key>com.fontfont.colorfont.color</key>
	<string>#000000</string>
	<key>com.fontfont.colorfont.colorbg</key>
	<string>#ffffff</string>
	<key>com.fontfont.colorfont.colorpalette</key>
	<array>
		<dict>
			<key>0</key>
			<string>#000000</string>
			<key>1</key>
			<string>#522400</string>
			<key>10</key>
			<string>#78b450</string>
			<key>11</key>
			<string>#91de00</string>
			<key>12</key>
			<string>#c8c8c8</string>
			<key>13</key>
			<string>#c9e8ff</string>
			<key>14</key>
			<string>#a8cce8</string>
			<key>15</key>
			<string>#8ab0e8</string>
			<key>16</key>
			<string>#7087e8</string>
			<key>17</key>
			<string>#00d2ff</string>
			<key>18</key>
			<string>#3cb4ff</string>
			<key>19</key>
			<string>#1480cf</string>
			<key>2</key>
			<string>#8c4600</string>
			<key>20</key>
			<string>#0000ff</string>
			<key>21</key>
			<string>#0000b4</string>
			<key>22</key>
			<string>#7029ad</string>
			<key>23</key>
			<string>#8c24ff</string>
			<key>24</key>
			<string>#bd00ff</string>
			<key>25</key>
			<string>#ff00ff</string>
			<key>26</key>
			<string>#ff9ea1</string>
			<key>27</key>
			<string>#e0b3bd</string>
			<key>28</key>
			<string>#d9cfd9</string>
			<key>29</key>
			<string>#ffeb00</string>
			<key>3</key>
			<string>#be8000</string>
			<key>30</key>
			<string>#ffd200</string>
			<key>31</key>
			<string>#ffc800</string>
			<key>32</key>
			<string>#ffaa00</string>
			<key>33</key>
			<string>#ff0000</string>
			<key>34</key>
			<string>#c80000</string>
			<key>35</key>
			<string>#ffffff</string>
			<key>36</key>
			<string>#ff7f00</string>
			<key>4</key>
			<string>#ad9c69</string>
			<key>5</key>
			<string>#706300</string>
			<key>6</key>
			<string>#828c3c</string>
			<key>7</key>
			<string>#005f2d</string>
			<key>8</key>
			<string>#009b00</string>
			<key>9</key>
			<string>#009664</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>6BC6EBAD-254B-4F2A-A3B7-423E3045276D</string>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/jenskutilek/Documents/Flaggenfont/FFCopa-Regular.ttf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<integer>1</integer>
			<key>magnetic</key>
			<integer>5</integer>
			<key>name</key>
			<string></string>
			<key>x</key>
			<integer>302</integer>
			<key>y</key>
			<integer>140</integer>
		</dict>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>line</string>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.line.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>NULL</string>
				<string>CR</string>
				<string>space</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>P</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>Rahmen1056</string>
				<string>Rahmen1424</string>
				<string>Rahmen1488</string>
				<string>Rahmen1520</string>
				<string>Rahmen1552</string>
				<string>Rahmen1616</string>
				<string>Rahmen1680</string>
				<string>Rahmen1712</string>
				<string>Rahmen1856</string>
				<string>Rahmen1936</string>
				<string>Rahmen1984</string>
				<string>USA.01</string>
				<string>Iran.01</string>
				<string>Chile.01</string>
				<string>Ghana.01</string>
				<string>Japan.01</string>
				<string>Mexiko.01</string>
				<string>Belgien.01</string>
				<string>Bosnien.01</string>
				<string>Ecuador.01</string>
				<string>England.01</string>
				<string>Kamerun.01</string>
				<string>Nigeria.01</string>
				<string>Piraten.01</string>
				<string>Schweiz.01</string>
				<string>Spanien.01</string>
				<string>Uruguay.01</string>
				<string>Algerien.01</string>
				<string>Honduras.01</string>
				<string>Kroatien.01</string>
				<string>Portugal.01</string>
				<string>Brasilien.01</string>
				<string>CostaRica.01</string>
				<string>Kolumbien.01</string>
				<string>Suedkorea.01</string>
				<string>Australien.01</string>
				<string>Frankreich.01</string>
				<string>Argentinien.01</string>
				<string>Deutschland.01</string>
				<string>Griechenland.01</string>
				<string>Elfenbeinkueste.01</string>
				<string>USA.02</string>
				<string>Iran.02</string>
				<string>Chile.02</string>
				<string>Ghana.02</string>
				<string>Japan.02</string>
				<string>Mexiko.02</string>
				<string>Belgien.02</string>
				<string>Bosnien.02</string>
				<string>Ecuador.02</string>
				<string>England.02</string>
				<string>Kamerun.02</string>
				<string>Nigeria.02</string>
				<string>Piraten.02</string>
				<string>Schweiz.02</string>
				<string>Spanien.02</string>
				<string>Uruguay.02</string>
				<string>Algerien.02</string>
				<string>Honduras.02</string>
				<string>Kroatien.02</string>
				<string>Portugal.02</string>
				<string>Brasilien.02</string>
				<string>CostaRica.02</string>
				<string>Suedkorea.02</string>
				<string>Australien.02</string>
				<string>Argentinien.02</string>
				<string>Deutschland.02</string>
				<string>Griechenland.02</string>
				<string>Elfenbeinkueste.02</string>
				<string>USA.03</string>
				<string>Iran.03</string>
				<string>Chile.03</string>
				<string>Ghana.03</string>
				<string>Japan.03</string>
				<string>Mexiko.03</string>
				<string>Belgien.03</string>
				<string>Bosnien.03</string>
				<string>Ecuador.03</string>
				<string>Kamerun.03</string>
				<string>Spanien.03</string>
				<string>Uruguay.03</string>
				<string>Honduras.03</string>
				<string>Kroatien.03</string>
				<string>Portugal.03</string>
				<string>Brasilien.03</string>
				<string>CostaRica.03</string>
				<string>Suedkorea.03</string>
				<string>Australien.03</string>
				<string>Argentinien.03</string>
				<string>Deutschland.03</string>
				<string>Elfenbeinkueste.03</string>
				<string>Chile.04</string>
				<string>Ghana.04</string>
				<string>Mexiko.04</string>
				<string>Bosnien.04</string>
				<string>Ecuador.04</string>
				<string>Kamerun.04</string>
				<string>Spanien.04</string>
				<string>Uruguay.04</string>
				<string>Algerien.04</string>
				<string>Honduras.04</string>
				<string>Kroatien.04</string>
				<string>Portugal.04</string>
				<string>Brasilien.04</string>
				<string>Suedkorea.04</string>
				<string>Australien.04</string>
				<string>Argentinien.04</string>
				<string>Ghana.05</string>
				<string>Mexiko.05</string>
				<string>Bosnien.05</string>
				<string>Ecuador.05</string>
				<string>Kamerun.05</string>
				<string>Spanien.05</string>
				<string>Algerien.05</string>
				<string>Kroatien.05</string>
				<string>Portugal.05</string>
				<string>Brasilien.05</string>
				<string>Suedkorea.05</string>
				<string>Australien.05</string>
				<string>Mexiko.06</string>
				<string>Bosnien.06</string>
				<string>Ecuador.06</string>
				<string>Spanien.06</string>
				<string>Algerien.06</string>
				<string>Kroatien.06</string>
				<string>Portugal.06</string>
				<string>Brasilien.06</string>
				<string>Suedkorea.06</string>
				<string>Australien.06</string>
				<string>Mexiko.07</string>
				<string>Ecuador.07</string>
				<string>Spanien.07</string>
				<string>Kroatien.07</string>
				<string>Portugal.07</string>
				<string>Brasilien.07</string>
				<string>Suedkorea.07</string>
				<string>Mexiko.08</string>
				<string>Ecuador.08</string>
				<string>Spanien.08</string>
				<string>Kroatien.08</string>
				<string>Suedkorea.08</string>
				<string>Mexiko.09</string>
				<string>Ecuador.09</string>
				<string>Spanien.09</string>
				<string>Mexiko.10</string>
				<string>Ecuador.10</string>
				<string>Ecuador.11</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>P</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>Rahmen1056</string>
		<string>Rahmen1424</string>
		<string>Rahmen1488</string>
		<string>Rahmen1520</string>
		<string>Rahmen1552</string>
		<string>Rahmen1616</string>
		<string>Rahmen1680</string>
		<string>Rahmen1712</string>
		<string>Rahmen1856</string>
		<string>Rahmen1936</string>
		<string>Rahmen1984</string>
		<string>USA.01</string>
		<string>Iran.01</string>
		<string>Chile.01</string>
		<string>Ghana.01</string>
		<string>Japan.01</string>
		<string>Mexiko.01</string>
		<string>Belgien.01</string>
		<string>Bosnien.01</string>
		<string>Ecuador.01</string>
		<string>England.01</string>
		<string>Kamerun.01</string>
		<string>Nigeria.01</string>
		<string>Piraten.01</string>
		<string>Schweiz.01</string>
		<string>Spanien.01</string>
		<string>Uruguay.01</string>
		<string>Algerien.01</string>
		<string>Honduras.01</string>
		<string>Kroatien.01</string>
		<string>Portugal.01</string>
		<string>Brasilien.01</string>
		<string>CostaRica.01</string>
		<string>Kolumbien.01</string>
		<string>Suedkorea.01</string>
		<string>Australien.01</string>
		<string>Frankreich.01</string>
		<string>Argentinien.01</string>
		<string>Deutschland.01</string>
		<string>Griechenland.01</string>
		<string>Elfenbeinkueste.01</string>
		<string>USA.02</string>
		<string>Iran.02</string>
		<string>Chile.02</string>
		<string>Ghana.02</string>
		<string>Japan.02</string>
		<string>Mexiko.02</string>
		<string>Belgien.02</string>
		<string>Bosnien.02</string>
		<string>Ecuador.02</string>
		<string>England.02</string>
		<string>Kamerun.02</string>
		<string>Nigeria.02</string>
		<string>Piraten.02</string>
		<string>Schweiz.02</string>
		<string>Spanien.02</string>
		<string>Uruguay.02</string>
		<string>Algerien.02</string>
		<string>Honduras.02</string>
		<string>Kroatien.02</string>
		<string>Portugal.02</string>
		<string>Brasilien.02</string>
		<string>CostaRica.02</string>
		<string>Suedkorea.02</string>
		<string>Australien.02</string>
		<string>Argentinien.02</string>
		<string>Deutschland.02</string>
		<string>Griechenland.02</string>
		<string>Elfenbeinkueste.02</string>
		<string>USA.03</string>
		<string>Iran.03</string>
		<string>Chile.03</string>
		<string>Ghana.03</string>
		<string>Japan.03</string>
		<string>Mexiko.03</string>
		<string>Belgien.03</string>
		<string>Bosnien.03</string>
		<string>Ecuador.03</string>
		<string>Kamerun.03</string>
		<string>Spanien.03</string>
		<string>Uruguay.03</string>
		<string>Honduras.03</string>
		<string>Kroatien.03</string>
		<string>Portugal.03</string>
		<string>Brasilien.03</string>
		<string>CostaRica.03</string>
		<string>Suedkorea.03</string>
		<string>Australien.03</string>
		<string>Argentinien.03</string>
		<string>Deutschland.03</string>
		<string>Elfenbeinkueste.03</string>
		<string>Chile.04</string>
		<string>Ghana.04</string>
		<string>Mexiko.04</string>
		<string>Bosnien.04</string>
		<string>Ecuador.04</string>
		<string>Kamerun.04</string>
		<string>Spanien.04</string>
		<string>Uruguay.04</string>
		<string>Algerien.04</string>
		<string>Honduras.04</string>
		<string>Kroatien.04</string>
		<string>Portugal.04</string>
		<string>Brasilien.04</string>
		<string>Suedkorea.04</string>
		<string>Australien.04</string>
		<string>Argentinien.04</string>
		<string>Ghana.05</string>
		<string>Mexiko.05</string>
		<string>Bosnien.05</string>
		<string>Ecuador.05</string>
		<string>Kamerun.05</string>
		<string>Spanien.05</string>
		<string>Algerien.05</string>
		<string>Kroatien.05</string>
		<string>Portugal.05</string>
		<string>Brasilien.05</string>
		<string>Suedkorea.05</string>
		<string>Australien.05</string>
		<string>Mexiko.06</string>
		<string>Bosnien.06</string>
		<string>Ecuador.06</string>
		<string>Spanien.06</string>
		<string>Algerien.06</string>
		<string>Kroatien.06</string>
		<string>Portugal.06</string>
		<string>Brasilien.06</string>
		<string>Suedkorea.06</string>
		<string>Australien.06</string>
		<string>Mexiko.07</string>
		<string>Ecuador.07</string>
		<string>Spanien.07</string>
		<string>Kroatien.07</string>
		<string>Portugal.07</string>
		<string>Brasilien.07</string>
		<string>Suedkorea.07</string>
		<string>Mexiko.08</string>
		<string>Ecuador.08</string>
		<string>Spanien.08</string>
		<string>Kroatien.08</string>
		<string>Suedkorea.08</string>
		<string>Mexiko.09</string>
		<string>Ecuador.09</string>
		<string>Spanien.09</string>
		<string>Mexiko.10</string>
		<string>Ecuador.10</string>
		<string>Ecuador.11</string>
	</array>
</dict>
</plist>
