<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontfont.colorfont.bitmap_sizes</key>
	<array>
		<integer>20</integer>
		<integer>32</integer>
		<integer>40</integer>
		<integer>72</integer>
		<integer>96</integer>
		<integer>128</integer>
		<integer>256</integer>
		<integer>512</integer>
		<integer>1024</integer>
	</array>
	<key>com.fontfont.colorfont.color</key>
	<string>#000000</string>
	<key>com.fontfont.colorfont.colorbg</key>
	<string>#ffffff</string>
	<key>com.fontfont.colorfont.colorpalette</key>
	<array>
		<dict>
			<key>0</key>
			<string>#410000ff</string>
			<key>1</key>
			<string>#fff1f7ff</string>
			<key>2</key>
			<string>#910001ff</string>
			<key>3</key>
			<string>#000000ff</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<false/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>circle</string>
				<string>circle.layer00</string>
				<string>circle.layer01</string>
				<string>circle.layer02</string>
				<string>circle.layer03</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>circle</string>
		<string>circle.layer00</string>
		<string>circle.layer01</string>
		<string>circle.layer02</string>
		<string>circle.layer03</string>
	</array>
</dict>
</plist>
