<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>RoboChrome.py</string>
			<key>preferredName</key>
			<string>RoboChrome</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Jens Kutilek</string>
	<key>developerURL</key>
	<string>https://github.com/jenskutilek</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>installRoboChrome.py</string>
	<key>name</key>
	<string>RoboChrome</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>3</string>
	<key>timeStamp</key>
	<real>1582886823.0</real>
	<key>version</key>
	<string>0.7.6</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>jenskutilek/RoboChrome</string>
		<key>summary</key>
		<string>Edit and generate color fonts in various formats.</string>
	</dict>
</dict>
</plist>
